<a href="https://colab.research.google.com/github/santhosh47/Data_Science_and_ML_Tutorial/blob/main/DS_04_Python_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Operators

Python has seven types of operators that we can use to perform different operation and produce a result.

* Arithmetic operator
* Relational operators
* Assignment operators
* Logical operators
* Membership operators
* Identity operators
* Bitwise operators

# Arithmetic operator

There are seven arithmetic operators we can use to perform different mathematical operations, such as:

* '+' (Addition)
* "-' (Subtraction)
* "*" (Multiplication)
* '/' (Division)
* '//' Floor division)
* '℅' (Modulus)
* '**' (Exponentiation)

# Addition operator +

In [ ]:
x = 10
y = 40
print(x + y)
# Output 50

In [ ]:
name = "Kelly"
surname = "Ault"
print(surname + " " + name)
# Output Ault Kelly

# Subtraction -

In [ ]:
x = 10
y = 40
print(y - x)
# Output 30

# Multiplication *

In [ ]:
x = 2
y = 4
z = 5
print(x * y)
# Output 8 (2*4)
print(x * y * z)
# Output 40 (2*4*5)

In [ ]:
name = "Jessa"
print(name * 3)
# Output JessaJessaJessa

# Division /

In [ ]:
x = 2
y = 4
z = 8
print(y / x)
# Output 2.0
print(z / y / x)
# Output 1.0
# print(z / 0)  # error

# Floor division //

In [ ]:
x = 2
y = 4
z = 2.2

# normal division
print(y / x)
# Output 2.0

# floor division to get result as integer
print(y // x)
# Output 2

# normal division
print(y / z)  # 1.81

# floor division.
# Result as float because one argument is float
print(y // z)  # 1.0

# Modulus ℅

In [ ]:
x = 15
y = 4

print(x % y)
# Output 3

# Exponent **

In [ ]:
num = 2
# 2*2
print(num ** 2) 
# Output 4

# 2*2*2
print(num ** 3)
# Output 8

# Relational (comparison) operators

In [ ]:
 = 10
y = 5
z = 2

In [ ]:
# > Greater than
print(x > y)  # True
print(x > y > z)  # True

In [ ]:

# < Less than
print(x < y)  # False
print(y < x)  # True

In [ ]:

# Equal to 
print(x == y)  # False 
print(x == 10)  # True

In [ ]:

# != Not Equal to 
print(x != y)  # True 
print(10 != x)  # False

In [ ]:

# >= Greater than equal to
print(x >= y)  # True
print(10 >= x)  # True

In [ ]:

# <= Less than equal to
print(x <= y)  # False
print(10 <= x)  # True

# Assignment operators

In Python, Assignment operators are used to assigning value to the variable. Assign operator is denoted by = symbol. For example, name = "Jessa" here, we have assigned the string literal ‘Jessa’ to a variable name.

Also, there are shorthand assignment operators in Python. For example, a+=2 which is equivalent to a = a+2.

In [ ]:
a = 4
b = 2

In [ ]:
a += b
print(a)  # 6

In [ ]:
a = 4
a -= 2
print(a)  # 2

In [ ]:
a = 4
a /= 2
print(a)  # 2.0

In [ ]:
a = 4
a **= 2
print(a)  # 16

In [ ]:
a = 5
a %= 2
print(a)  # 1

In [ ]:
a = 4
a //= 2
print(a)  # 2

# Logical operators
Logical operators are useful when checking a condition is true or not. Python has three logical operators. All logical operator returns a boolean value True or False depending on the condition in which it is used.

# and (Logical and)

In [ ]:
print(True and False)  # False
# both are True
print(True and True)  # True
print(False and False)  # False
print(False and True)  # false

# actual use in code
a = 2
b = 4

# Logical and
if a > 0 and b > 0:
    # both conditions are true
    print(a * b)
else:
    print("Do nothing")

In the case of arithmetic values, Logical and always returns the second value; as a result, see the following example.

In [ ]:
print(10 and 20) # 20
print(10 and 5)  # 5
print(100 and 300) # 300

# or (Logical or)

In [ ]:
print(True or False)  # True
print(True or True)  # True
print(False or False)  # false 
print(False or True)  # True

# actual use in code
a = 2
b = 4

# Logical and
if a > 0 or b < 0:
    # at least one expression is true so conditions is true
    print(a + b)  # 6
else:
    print("Do nothing")

In the case of arithmetic values, Logical or it always returns the first value; as a result, see the following code.

In [ ]:
print(10 or 20) # 10
print(10 or 5) # 10
print(100 or 300) # 100

# not (Logical not)

In [ ]:
print(not False)  # True return complements result
print(not True)  # True return complements result

# actual use in code
a = True

# Logical not
if not a:
    # a is True so expression is False
    print(a) 
else:
    print("Do nothing")

In the case of arithmetic values, Logical not always return False for nonzero value.

In [ ]:
print(not 10) # False. Non-zero value
print(not 1)  # True. Non-zero value
print(not 5)  # False. Non-zero value
print(not 0)  # True. zero value

# Membership operators
Python’s membership operators are used to check for membership of objects in sequence, such as string, list, tuple. It checks whether the given value or variable is present in a given sequence. If present, it will return True else False.

In Python, there are two membership operator in and not in

## In operator
It returns a result as True if it finds a given object in the sequence. Otherwise, it returns False.

Let’s check if the number 15 present in a given list using the in operator.

In [ ]:
my_list = [11, 15, 21, 29, 50, 70]
number = 15
if number in my_list:
    print("number is present")
else:
    print("number is not present")

## Not in operator
It returns True if the object is not present in a given sequence. Otherwise, it returns False

In [ ]:
my_tuple = (11, 15, 21, 29, 50, 70)
number = 35
if number not in my_tuple:
    print("number is not present")
else:
    print("number is present")

# Identity operators
Use the Identity operator to check whether the value of two variables is the same or not. This operator is known as a reference-quality operator because the identity operator compares values according to two variables’ memory addresses.

Python has 2 identity operators is and is not.

## is operator
The is operator returns Boolean True or False. It Return True if the memory address first value is equal to the second value. Otherwise, it returns False.

In [ ]:
x = 10
y = 11 
z = 10
print(x is y) # it compare memory address of x and y 
print(x is z) # it compare memory address of x and z

Here, we can use is() function to check whether both variables are pointing to the same object or not.

## is not operator
The is not the operator returns boolean values either True or False. It Return True if the first value is not equal to the second value. Otherwise, it returns False.

In [ ]:
x = 10
y = 11 
z = 10
print(x is not y) # it campare memory address of x and y 
print(x is not z) # it campare memory address of x and z

#Bitwise Operators
In Python, bitwise operators are used to performing bitwise operations on integers. To perform bitwise, we first need to convert integer value to binary (0 and 1) value.

The bitwise operator operates on values bit by bit, so it’s called bitwise. It always returns the result in decimal format. Python has 6 bitwise operators listed below.

* '&' Bitwise and
* '|' Bitwise or
* '^' Bitwise xor
* '~' Bitwise 1’s complement
* '<<' Bitwise left-shift
* '>>' Bitwise right-shift

# Bitwise and &
It performs logical AND operation on the integer value after converting an integer to a binary value and gives the result as a decimal value. It returns True only if both operands are True. Otherwise, it returns False.

In [ ]:
a = 7
b = 4
c = 5
print(a & b)
print(a & c)
print(b & c)

Here, every integer value is converted into a binary value. For example, a =7, its binary value is 0111, and b=4, its binary value is 0100. Next we performed logical AND, and got 0100 as a result, similarly for a and c, b and c

Following diagram shows AND operator evaluation.

<img src="https://pynative.com/wp-content/uploads/2021/03/python-bitwise-and-operator.png" alt="Girl in a jacket" width="500">

# Bitwise or |
It performs logical OR operation on the integer value after converting integer value to binary value and gives the result a decimal value. It returns False only if both operands are True. Otherwise, it returns True.

In [ ]:
a = 7
b = 4
c = 5
print(a | b)
print(a | c)
print(b | c)

Here, every integer value is converted into binary. For example, a =7 its binary value is 0111, and b=4, its binary value is 0100, after logical OR, we got 0111 as a result. Similarly for a and c, b and c.

<img src="https://pynative.com/wp-content/uploads/2021/03/python-bitwise-or-operator.png" alt="Girl in a jacket" width="500">

# Bitwise xor ^
It performs Logical XOR ^ operation on the binary value of a integer and gives the result as a decimal value.

In [ ]:
a = 7
b = 4
c = 5
print(a ^ c)
print(b ^ c)

Here, again every integer value is converted into binary. For example, a =7 its binary value is 0111 and b=4, and its binary value is 0100, after logical XOR we got 0011 as a result. Similarly for a and c, b and c.

<img src="https://pynative.com/wp-content/uploads/2021/03/python-bitwise-xor-operator.png" alt="Girl in a jacket" width="500">

# Bitwise 1’s complement ~
It performs 1’s complement operation. It invert each bit of binary value and returns the bitwise negation of a value as a result.

In [ ]:
a = 7
b = 4
c = 3
print(~a, ~b, ~c)
# Output -8 -5 -4

# Bitwise left-shift <<

The left-shift << operator performs a shifting bit of value by a given number of the place and fills 0’s to new positions.

In [ ]:
print(4 << 2) 
# Output 16
print(5 << 3)
# Output 40

<img src="https://pynative.com/wp-content/uploads/2021/03/python-bitwise-letf-shift.png" alt="Girl in a jacket" width="500">

# Bitwise right-shift >>
The left-shift >> operator performs shifting a bit of value to the right by a given number of places. Here some bits are lost.

In [ ]:
print(4 >> 2)
# Output 
print(5 >> 2)
# Output

<img src="https://pynative.com/wp-content/uploads/2021/03/python-bitwise-right-shift.png" alt="Girl in a jacket" width="500">