<a href="https://colab.research.google.com/github/santhosh47/Data_Science_and_ML_Tutorial/blob/main/DS_05_Python_Data_Types_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data types specify the different sizes and values that can be stored in the variable. For example, Python stores numbers, strings, and a list of values using different data types.

There are mainly four types of basic/primitive data types available in Python

* Numeric: int, float, and complex
* Sequence: String, list, and tuple
* Set
* Dictionary (dict)

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg" alt="Girl in a jacket" width="500" >

## Str data type
In Python, A string is a sequence of characters enclosed within a single quote or double quote. These characters could be anything like letters, numbers, or special symbols enclosed within double quotation marks. 

The string type in Python is represented using a str class.

To work with text or character data in Python, we use Strings. Once a string is created, we can do many operations on it, such as searching inside it, creating a substring from it, and splitting it.

In [ ]:
platform = "PYnative"
print(type(platform))  # <class 'str'>

# display string
print(platform)  # 'PYnative'

# accessing 2nd character of a string
print(platform[1])  # y

Note: The string is immutable, i.e., it can not be changed once defined. You need to create a copy of it if you want to modify it. This non-changeable behavior is called immutability.

In [ ]:
platform = "PYnative"
# Now let's try to change 2nd character of a string.
platform[0] = 'p'
# Gives TypeError: 'str' object does not support item assignment

## Changing Case in a String with Methods
One of the simplest tasks you can do with strings is change the case of the
words in a string. Look at the following code, and try to determine what’s
happening:

In [ ]:
name = "ada lovelace"
print(name.title())

In [ ]:
name = "Ada Lovelace"
print(name.upper())
print(name.lower())

## Combining or Concatenating Strings
It’s often useful to combine strings. For example, you might want to store
a first name and a last name in separate variables, and then combine them
when you want to display someone’s full name:

In [ ]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name)

In [ ]:
print("Hello, " + full_name.title() + "!")

You can use concatenation to compose a message and then store the
entire message in a variable:

In [ ]:
message = "Hello, " + full_name.title() + "!"
print(message)

## Adding Whitespace to Strings with Tabs or Newlines
In programming, whitespace refers to any nonprinting character, such as
spaces, tabs, and end-of-line symbols. You can use whitespace to organize
your output so it’s easier for users to read.
To add a tab to your text, use the character combination \t as shown
at:

In [ ]:
print("Languages:\nPython\nC\nJavaScript")

You can also combine tabs and newlines in a single string. The string
"\n\t" tells Python to move to a new line, and start the next line with a tab.
The following example shows how you can use a one-line string to generate
four lines of output:

In [ ]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

## Stripping Whitespace
Python can look for extra whitespace on the right and left sides of a
string. To ensure that no whitespace exists at the right end of a string, use
the rstrip() method.

In [ ]:
favorite_language = 'python '
print(favorite_language)

python

In [ ]:
favorite_language.rstrip()

'python'

You can also strip whitespace from the left side of a string using the
lstrip() method or strip whitespace from both sides at once using strip():

In [ ]:
favorite_language = ' python '

In [ ]:
favorite_language.rstrip()

In [ ]:
favorite_language.lstrip()

In [ ]:
favorite_language.strip()

There are other such string functions you can get them here: https://www.w3schools.com/python/python_ref_string.asp

## Int data type
Python uses the int data type to represent whole integer values. For example, we can use the int data type to store the roll number of a student. The Integer type in Python is represented using a int class.

You can store positive and negative integer numbers of any length such as 235, -758, 235689741.

We can create an integer variable using the two ways
* Directly assigning an integer value to a variable
* Using a int() class.

In [ ]:
# store int value
roll_no = 33
# display roll no
print("Roll number is:", roll_no)
# output 33
print(type(roll_no))  
# output class 'int'

# store integer using int() class
id = int(25)
print(id)  # 25
print(type(id))  # class 'int'

In [ ]:
# decimal int 16 with base 8
# Prefix with zero + letter b
octal_num = 0o20
print(octal_num)  # 16
print(type(octal_num))  # class 'int'

# decimal int 16 with base 16
# Prefix with zero + letter x
hexadecimal_num = 0x10  # decimal equivalent of 21
print(hexadecimal_num)  # 16
print(type(hexadecimal_num))  # class 'int'

# decimal int 16 with base 2
# Prefix with zero + letter b
binary_num = 0b10000  # decimal equivalent of 6
print(binary_num)  # 16
print(type(binary_num))  # class 'int'

## Float data type
To represent floating-point values or decimal values, we can use the float data type. For example, if we want to store the salary, we can use the float type.

In [ ]:
# store a floating-point value
salary = 8000.456
print("Salary is :", salary)  # 8000.456
print(type(salary))  # class 'float'

# store a floating-point value using float() class
num = float(54.75)
print(num)  # 54.75
print(type(num))  # class 'float'

Floating-point values can be represented using the exponential form, also called scientific notation. The benefit of using the exponential form to represent floating-point values is we can represent large values using less memory.

In [ ]:
# exponential float
num1 = 1.22e4
print(num1)  # 12200.0
print(type(num1))  # class 'float'

## Complex data type
A complex number is a number with a real and an imaginary component represented as a+bj where a and b contain integers or floating-point values.

The complex type is generally used in scientific applications and electrical engineering applications. If we want to declare a complex value, then we can use the a+bj form. See the following example.

In [ ]:
x = 9 + 8j  # both value are int type
y = 10 + 4.5j  # one int and one float
z = 11.2 + 1.2j  # both value are float type
print(type(x))  # class 'complex'>

print(x)  # (9+8j)
print(y)  # (10+4.5j)
print(z)  # (11.2+1.2j)

The real part of the complex number is represented using an integer value. The integer value can be in the form of either decimal, float, binary, or hexadecimal. But the imaginary part should be represented using the decimal form only. If we are trying to represent an imaginary part as binary, hex, or octal, we will get an error.

## List data type

The Python List is an ordered collection (also known as a sequence ) of elements. List elements can be accessed, iterated, and removed according to the order they inserted at the creation time.

We use the list data type to represent groups of the element as a single entity.  For example: If we want to store all student’s names, we can use list type.

* The list can contain data of all data types such as  int, float, string
* Duplicates elements are allowed in the list
* The list is mutable which means we can modify the value of list elements

We can create a list using the two ways

* By enclosing elements in the square brackets [].
* Using a list() class.

In [ ]:
my_list = ["Jessa", "Kelly", 20, 35.75]
# display list
print(my_list)  # ['Jessa', 'Kelly', 20, 35.75]
print(type(my_list))  # class 'list'

In [ ]:
# Accessing first element of list
print(my_list[0])  # 'Jessa'

In [ ]:
# slicing list elements
print(my_list[1:5])  # ['Kelly', 20, 35.75]

In [ ]:
# modify 2nd element of a list
my_list[1] = "Emma"
print(my_list[1])  # 'Emma'

In [ ]:
# create list using a list class
my_list2 = list(["Jessa", "Kelly", 20, 35.75])
print(my_list2)  # ['Jessa', 'Kelly', 20, 35.75]

## Tuple data type
Tuples are ordered collections of elements that are unchangeable. The tuple is the same as the list, except the tuple is immutable means we can’t modify the tuple once created.

In other words, we can say a tuple is a read-only version of the list.

For example: If you want to store the roll numbers of students that you don’t change, you can use the tuple data type.

Note: Tuple maintains the insertion order and also, allows us to store duplicate elements.

We can create a tuple using the two ways

* By enclosing elements in the parenthesis ()
* Using a tuple() class.

In [ ]:
# create a tuple
my_tuple = (11, 24, 56, 88, 78)
print(my_tuple)  # (11, 24, 56, 88, 78)
print(type(my_tuple))  # class 'tuple'

In [ ]:
# Accessing 3rd element of a tuple
print(my_tuple[2])  # 56

In [ ]:
# slice a tuple
print(my_tuple[2:7])  # (56, 88, 78)

In [ ]:
# create a tuple using a tuple() class
my_tuple2 = tuple((10, 20, 30, 40))
print(my_tuple2)  # (10, 20, 30, 40)