<a href="https://colab.research.google.com/github/santhosh47/Data_Science_and_ML_Tutorial/blob/main/Exploratory_Data_Analysis_With_Pandas_Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data:

Here's a data set of 1,000 most popular movies on IMDB in the last 10 years. The data points included are:

Title, Genre, Description, Director, Actors, Year, Runtime, Rating, Votes, Revenue, Metascrore

Feel free to tinker with it and derive interesting insights.

Get the IMDB Dataset from the following link: [IMDB Dataset](https://www.kaggle.com/datasets/PromptCloudHQ/imdb-data)

As we have a basic understanding of the different data structures in Pandas, let’s explore the fun and interesting ‘IMDB-movies-dataset’ and get our hands dirty by performing practical data analysis on real data.

**What’s more fun than performing hands-on data analysis?**

So put on your hats as a Data Analyst/ Data Scientist and let’s GET.SET.GO

We will read the data from the .csv file and perform the following basic operations on movies data

* Read data
* View the data
* Understand some basic information about the data
* Data Selection – Indexing and Slicing data
* Data Selection – Based on Conditional filtering
* Groupby operations
* Sorting operation
* Dealing with missing values
* Dropping columns and null values
* Apply( ) functions

# 1. Read data
Load data from CSV file.

In [ ]:
#Your Code Here
# Read data from .csv file

In [ ]:
# Read data with specified explicit index - Title.
# We will use this later in our analysis

# 2. View data
Let’s do a quick preview of the data by using head( ) and tail( ) methods

## head( ) 

* Returns the top 5 rows in the dataset by default 
* It can also take the number of rows to be viewed as a parameter

##tail( )

* Returns the bottom 5 rows in the dataset by default
* It can also take the number of rows as an optional parameter

In [ ]:
# Preview top 5 rows using head()

# 3. Understand basic information about the data

Pandas provide many functions to understand the shape, number of columns, indexes, and other information about the dataframe.

In [ ]:
#Lets first understand the basic information about this data

In [ ]:
#Get the shape of the Data

In [ ]:
#Get the basic statistical summaries of all numerical attributes in the dataframe.

In [ ]:
#Write your insights about the data that you have obtained

# 4. Data Selection – Indexing and Slicing
## Extract data using columns

Extracting data from a dataframe is similar to Series. Here the column label is used to extract data from the columns.

Let’s quickly extract ‘Genre’ data from the dataframe

In [ ]:
# Extract data as series

In [ ]:
# Extract data as dataframe

In [ ]:
# Extract the following columns into a Dataframe - 'Title','Genre','Actors','Director','Rating'

## Extract data using rows

In the beginning, when we read the data, we created a dataframe with ‘Title’ as the string index.

In [ ]:
# Use the loc function to index and slice that dataframe using the specified ‘Title’.

In [ ]:
# use it to get the following info - 'Genre','Actors','Director','Rating','Revenue (Millions)'

In [ ]:
# use iloc to get a chuck of data

# 5. Data Selection – Based on Conditional Filtering
Pandas also enable retrieving data from dataframe based on conditional filters.

What if we want to pick only movies that are released from 2010 to 2016, have a rating of less than 6.0 but topped in terms of revenue?

In [ ]:
#Your Code Here

# 6. Groupby operation
Data can be grouped and operations can be performed on top of grouped data by using the groupby( ) method. 

This comes in handy when we want to apply aggregations and functions on top of grouped data.

In [ ]:
# Groupby the column - "Director" and get the mean data of the top 5 records

# 7. Sorting operation
Sorting is yet another pandas operation that is heavily used in data analysis projects.

sort_values( ) method is used to perform sorting operation on a column or a list of multiple columns

In the above example, where we have listed the average rating for each ‘Director’, if we want to sort them from highly rated to lowest, we can perform the sorting operation.

In [ ]:
#Your Code Here

# 8. Dealing with missing values
Pandas has isnull( ) for detecting null values in a dataframe. Let’s see how to use these methods.

In [ ]:
# To check null values row-wise

# 9. Dropping columns and null values
Dropping columns/rows is yet another operation that is most important for data analysis.

In [ ]:
#Drop the unwanted column that has null value using drop function
#Hint - 'Metascore'

In [ ]:
#Drop the unwanted column that has null value using dropna function

In [ ]:
#Drop the unwanted column that has null value using dropna function if the column has more than 6 null values

In [ ]:
#Fill null values in the column - 'Revenue (Millions)' with mean value and make sure that the modification stands

# 10. Apply( ) function
The apply( ) function comes in handy when we want to apply any function to the dataset. It returns a value after passing each row of the dataframe to some function. The function can be built-in or user-defined.

For example, if we want to classify the movies based on their ratings, we can define a function to do so and then apply the function to the dataframe as shown below.

In [ ]:
#write a function that will classify movies into groups based on rating.

In [ ]:
#Apply the above function to our actual dataframe sp that the ‘Rating_category’ will be computed for each row.
#display the result of top 5 rows

The solution can be found here: [Solution](https://github.com/lakshanagv/Complete-guide-to-data-analysis-using-Python---IMDB-movies-data/blob/dcbee6436bcee85f5a19ecbc090fac71d2a32170/Quick%20guide%20to%20Data%20Analysis%20using%20Pandas.ipynb)

Another good example with additional usage of Pandas's Functionalities could be found here : [EDA on Customer Churn Data](https://www.kaggle.com/code/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)